/*stylesheet for landing-page project index.thml */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.box {
  box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    height:100vh; /*this makes the body exactly the same height as the viewport*/
    display:flex;
    flex-direction: column;
    flex:1;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin:0;

}

img.rounded-corners{
  border-radius:30px;
  border:solid 5px #3882F6;
  height:200px;
  width:200px;
}

ul.nav {
  list-style-type: none;
  display:flex;
  margin: 0;
  gap: 20px;
}

a.nav {
  text-decoration:none;
  font-size:18px;
  color: #E5E7EB;
}

.content{
  display:flex;
  padding: 0 150px;
  flex:1;
}

.content.head{
  flex-direction:column;
  background-color: #1F2937;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#F9FAF8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo{
  font-size:24px;
  font-weight:800;
  color:#F9FAF8;
}

.hero{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
}

.hero .left-side{
  width: 500px;
}

.hero .main{
  font-size:48px;
  color:#F9FAF8;
  font-weight: 800;
}

.hero .text {
  font-size:18px;
  color:#E5E7EB;
  padding-top:5px;

}

button.sign-up {
  margin-top:20px;
  background-color:#3882F6;
  padding: 5px 30px 5px 30px;
  border: solid 2px #3882F6;
  border-radius:8px;
  color:#F9FAF8;
  font-size:18px;
  font-weight:500;
}

.hero .right-side{
  display:flex;

}

.hero .placeholder{
  display:flex;
  background-color: grey;
  border-radius:10px;
  justify-items:center;
  align-items:center;
  color:#F9FAF8;
  }

.content.info {
  flex-direction:column;
  background-color: white;
  align-items:center;
  justify-items:center;
  padding: 40px 150px 40px 150px;
  gap:30px;
}

.title{
  display:flex;
  font-size:36px;
  font-weight: 800;
  color: #1F2937
}

.items {
  display:flex;
  flex-flow:row nowrap;
  gap: 50px;
  text-align: center;
  padding-bottom: 40px;
}

.item .text{
  display:flex; 
  margin-top:10px;
  width: 200px;
}

.content.quote {
  flex:0;
  flex-flow: column nowrap;
  padding:100px 300px;
  background-color: #E5E7EB;
  gap:20px;
  font-size:36px;
  color: #1F2937;
}

b.author {
  display:flex;
  font-size:20px;
  justify-content:end;
}

.content.end {
  background-color: white;
  padding-top: 100px;
  padding-bottom:100px;
  justify-content:center;
  align-content:center;
}

.end .action{
  display:flex;
  flex:1;
  flex-direction:row;
  height: 150px;
  width: auto;
  background-color:#3882F6;
  border-radius: 8px;

}

.action .left{
  flex-direction:column;
}

.left main{
  
}

.action .right{
  flex-direction:row;
  justify-items:center;
}

.footer {
  display:flex;
  background-color: #1F2937;
  color: white;
  justify-content:center;
  align-items: center;
  padding-top:20px;
  padding-bottom:20px;
}
