/*stylesheet for landing-page project index.thml */

body{
    height:100vh; /*this makes the body exactly the same height as the viewport*/
    display:flex;
    flex-direction: column;
    flex:1;
    font-family: Roboto, sans-serif;
    margin:0;
}

ul {
  list-style-type: none;
  display:flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.content{
  display:flex;
  padding: 0 100px;
  flex:1;
}

.header{
  display:flex;
  justify-content:space-between;
  color:#F9FAF8;
  background-color: #1F2937;
}

.photos {
  display:flex;
  background-color: white;
}

.quote {
  display:flex;
  background-color: #E5E7EB;
}

.sign {
  display:flex;
  background-color: white;
}

.footer {
  display:flex;
  background-color: #1F2937;
  color: white;
  justify-content:center;
  align-items: center;
}